body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(.25turn,rgba(98, 130, 138, 0.9), rgb(255, 255, 255), rgba(98, 130, 138, 0.9));
    background-attachment: fixed;
    overflow-x: hidden;
}

.navigation {
    background: linear-gradient(.25turn,rgb(255, 255, 255), rgba(98, 130, 138, 0.9), rgb(255, 255, 255));
    z-index: 5555;
    width: auto;
    position: sticky;
    top: 0;
    transition: top 0.7s;
}

.block-container {
    width: auto;
}

.logo {
    height: 3rem;
    width: 6rem;
}

.left-side {
    z-index: 999;
    position: fixed;
    left: 1%;
}

.right-side {
    z-index: 998;
    position: fixed;
    right: 1%;
}

.footbar {
    background: linear-gradient(.25turn,rgb(255, 255, 255), rgba(98, 130, 138, 0.9), rgb(255, 255, 255));
    z-index: 4444;
    width: auto;
    position: relative;
    opacity: .5;
    transform: translateY(-50px);
}

.footbar-visible {
    background: linear-gradient(.25turn,rgb(255, 255, 255), rgba(98, 130, 138, 0.9), rgb(255, 255, 255));
    z-index: 4444;
    width: auto;
    position: relative;
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}

 .bg-middle {
    background: rgba(252, 251, 250, 0.8);
 }

 .validation {
    background: rgb(62, 145, 60);
}

.errors {
    background: rgb(255, 0, 0);
}

.size {
    font-size: 80%;
}

.city-button {
    background: linear-gradient(rgb(3, 100, 87), rgba(0, 0, 0, 0.8), rgb(3, 100, 87));
}