body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(.25turn,rgba(98, 130, 138, 0.9), rgb(255, 255, 255), rgba(98, 130, 138, 0.9));
    background-size: cover;
    background-repeat: round;
    overflow-x: hidden;
}

/* .btn-box {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(7, 151, 55, 0.7), rgba(0, 0, 0, 0.9)); 
} */

.connexion-box {
    background: linear-gradient(.25turn,rgb(255, 255, 255), rgba(98, 130, 138, 0.9), rgb(255, 255, 255));
}

.inscription-box {
    background: linear-gradient(.25turn,rgb(255, 255, 255), rgba(98, 130, 138, 0.9), rgb(255, 255, 255)); 
}

.errors {
    background: rgb(255, 0, 0);
}

.validation {
    background: rgb(62, 145, 60);
}

.btn-box {
    background: linear-gradient(rgb(3, 100, 87), rgba(0, 0, 0, 0.8), rgb(3, 100, 87));
}

.text-color {
    color:  linear-gradient(rgb(0, 0, 0), rgba(163, 203, 240, 0.7), rgb(0, 0, 0));
}